---
import Footer from "../../components/Footer.astro";
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";

const projectTitle = "Intro Component w/ Signup Form";
---

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

  :root {
    /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /* Accent */
    --blue: hsl(248, 32%, 49%);

    /* Neutral */
    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);
    --white: hsl(0, 0%, 100%);

    --baseFont: "Poppins", sans-serif;
    --baseColor: var(--white);

    font-family: var(--baseFont);
    color: var(--baseColor);
  }

  body {
    background-image: url(../signup-form/bg-intro-mobile.png);
    background-color: var(--red);
  }

  main {
    min-height: 100vh;
    min-height: 100svh;
    padding: 8.8rem 2.4rem 6.8rem;
    display: grid;
    row-gap: 6.4rem;
  }

  .copywrite {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    text-align: center;

    &__heading {
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 3.6rem;
      letter-spacing: -0.03rem;
    }

    &__subheading {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
  }

  .offer {
    font-size: 1.5rem;
    line-height: 2.6rem;
    letter-spacing: 0.03rem;
    text-align: center;
    padding: 1.8rem 6.6rem;
    background-color: var(--blue);
    box-shadow: 0 0.8rem 0 rgba(0, 0, 0, 0.15);
    border-radius: 1rem;

    &__emphasize {
      font-weight: 500;
    }
  }

  .form {
    background-color: var(--white);
    box-shadow: 0 0.8rem 0 rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    &__input {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2.6rem;
      letter-spacing: 0.03rem;
      color: var(--darkBlue);
      padding: 1.5rem 3.2rem;
      border: 0.1rem solid #dedede;
      border-radius: 0.5rem;

      &:focus {
        outline: 0.2rem solid var(--blue);
      }
    }

    &__cta {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2.6rem;
      letter-spacing: 0.1rem;
      padding: 1.5rem;
      background-color: var(--green);
      box-shadow: inset 0 -0.4rem 0 rgba(0, 0, 0, 0.01);
      border-radius: 0.5rem;
      text-transform: uppercase;
    }

    &__notice {
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 2.1rem;
      text-align: center;
      color: var(--grayishBlue);
    }

    &__link {
      font-weight: 700;
      color: var(--red);
    }
  }
</style>

<Layout title={projectTitle}>
  <Heading title={projectTitle} />
  <main>
    <div class="copywrite">
      <h2 class="copywrite__heading">Learn to code by watching others</h2>
      <p class="copywrite__subheading">
        See how experienced developers solve problems in real-time. Watching
        scripted tutorials is great, but understanding how developers think is
        invaluable.
      </p>
    </div>
    <div class="content">
      <div class="offer">
        <span class="offer__emphasize">Try it free 7 days</span> then $20/mo. thereafter
      </div>
      <form class="form" action="#">
        <input
          class="form__input"
          type="text"
          name="first_name"
          id="first_name"
          placeholder="First Name"
        />
        <input
          class="form__input"
          type="text"
          name="last_name"
          id="last_name"
          placeholder="Last Name"
        />
        <input
          class="form__input"
          type="email"
          name="email"
          id="email"
          placeholder="Email Address"
        />
        <input
          class="form__input"
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
        <button class="form__cta">Claim your free trial</button>
        <span class="form__notice">
          By clicking the button, you are agreeing to our
          <a class="form__link" href="#">Terms and Services</a>
        </span>
      </form>
    </div>
  </main>
  <Footer font="var(--baseFont)" />
</Layout>
