---
import Layout from "../../layout/Layout.astro";
import "./style.scss";

type Course = {
  heading: string;
  subheading: string;
};

const courses: Course[] = [
  {
    heading: "Animation",
    subheading:
      "Learn the latest animation techniques to create stunning motion design and captivate your audience.",
  },
  {
    heading: "Design",
    subheading:
      "Create beautiful, usable interfaces to help shape the future of how the web looks.",
  },
  {
    heading: "Photography",
    subheading:
      "Explore critical fundamentals like lighting, composition, and focus to capture exceptional photos.",
  },
  {
    heading: "Crypto",
    subheading:
      "All you need to know to get started investing in crypto. Go from beginner to advanced with this 54 hour course.",
  },
  {
    heading: "Business",
    subheading:
      "A step-by-step playbook to help you start, scale, and sustain your business without outside investment.",
  },
];
---

<Layout title="Skilled eLearning" component>
  <header class="header">
    <nav class="navbar">
      <img
        class="navbar__logo"
        src="./skilled-elearning/logo-dark.svg"
        alt="Skilled Logo"
      />
      <button class="navbar__cta" type="button">Get Started</button>
    </nav>
    <div class="hero">
      <div class="copywrite">
        <h1 class="copywrite__heading">Maximize skill, minimize budget</h1>
        <p class="copywrite__subheading">
          Our modern courses across a range of in-demand skills will give you
          the knowledge you need to live the life you want.
        </p>
        <button class="copywrite__cta">Get Started</button>
      </div>
      <div class="image">
        <picture>
          <!-- TODO: Add other sources -->
          <source
            media="(min-width: 1024px)"
            srcset="./skilled-elearning/image-hero-desktop@2x.webp 2x, ./skilled-elearning/image-hero-desktop.png 1x"
          />
          <source
            media="(min-width: 720px)"
            srcset="./skilled-elearning/image-hero-tablet@2x.webp 2x,./skilled-elearning/image-hero-tablet.png 1x"
          />
          <source srcset="./skilled-elearning/image-hero-mobile@2x.png 2x" />
          <img src="./skilled-elearning/image-hero-mobile.png" alt="" />
        </picture>
      </div>
    </div>
  </header>
  <main class="cards_container">
    <div class="popular">Check out our most popular courses!</div>
    {
      courses.map(({ heading, subheading }) => (
        <div class="course">
          <img
            class="course__icon"
            src={`./skilled-elearning/icon-${heading.toLowerCase()}.svg`}
            alt=""
          />
          <h2 class="course__heading">{heading}</h2>
          <p class="course__subheading">{subheading}</p>
          <button class="course__cta">Get Started</button>
        </div>
      ))
    }
  </main>
  <footer class="footer">
    <img
      class="footer__logo"
      src="./skilled-elearning/logo-light.svg"
      alt="Skilled Logo"
    />
    <button class="footer__cta" type="button">Get Started</button>
  </footer>
</Layout>
