@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

@mixin tablet() {
  @media screen and (min-width: 720px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

:root {
  --chetwodeBlue: #666ca3;
  --midnightExpress: #13183f;
  --manatee: #83869a;
  --frenchRose: #f74780;
  --carnationPink: #ffa7c3;
  --white: #ffffff;

  --gradient1: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --gradient2: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);

  --gradient1Hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --gradient2Hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);

  --gridGradient: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);

  font-family: "Plus Jakarta Sans", sans-serif;
}

.header {
  padding: 1.6em 1.6em 0;
  display: grid;
  gap: 3.8em;
  overflow: hidden;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 9em;
    }

    &__cta {
      font-weight: 700;
      font-size: 1.6em;
      padding: 1rem 2.4rem;
      background-color: var(--midnightExpress);
      border-radius: 2.8rem;
      color: var(--white);

      &:hover {
        background-color: var(--chetwodeBlue);
      }
    }
  }

  .hero {
    .copywrite {
      display: flex;
      flex-direction: column;
      gap: 2.4em;

      &__heading {
        font-weight: 800;
        font-size: 4em;
        line-height: 5rem;
        color: var(--midnightExpress);
      }

      &__subheading {
        font-weight: 500;
        font-size: 1.6em;
        line-height: 2.6rem;
        color: var(--manatee);
      }

      &__cta {
        font-weight: 700;
        font-size: 1.6em;
        color: var(--white);
        padding: 1.5rem 3.8rem;
        background-image: var(--gradient1);
        border-radius: 3.1rem;
        width: fit-content;

        &:hover {
          background-image: var(--gradient1Hover);
        }
      }
    }
  }
}

.cards_container {
  padding: 0 1.6em 8em;
  display: grid;
  gap: 4em;
  background-image: var(--gridGradient);

  .popular {
    font-weight: 800;
    font-size: 2.4em;
    line-height: 3.2rem;
    color: var(--white);
    padding: 2.4rem 2.9rem 3.2rem;
    background-image: var(--gradient1);
    border-radius: 1rem;
  }

  .course {
    background-color: var(--white);
    box-shadow: 0 2.5em 5em rgba(6, 22, 141, 0.05);
    padding: 5.6em 2.8em 3.2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    position: relative;

    &__icon {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
    }

    &__heading {
      font-weight: 800;
      font-size: 2em;
      color: var(--midnightExpress);
    }

    &__subheading {
      font-weight: 500;
      font-size: 1.6em;
      line-height: 2.6rem;
      color: var(--manatee);
    }

    &__cta {
      font-weight: 700;
      font-size: 1.8em;
      color: var(--frenchRose);
      margin-top: 0.8rem;
      width: fit-content;

      &:hover {
        color: var(--carnationPink);
      }
    }
  }
}

.footer {
  background-color: var(--midnightExpress);
  padding: 3.6em 1.6em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 9em;
  }

  &__cta {
    font-weight: 700;
    font-size: 1.6em;
    color: var(--white);
    padding: 1rem 2.4rem;
    background-image: var(--gradient2);
    border-radius: 2.8rem;

    &:hover {
      background-image: var(--gradient2Hover);
    }
  }
}

@include tablet() {
  .header {
    padding: 2.4em 4em 1.6em;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-left: 4em;

    .copywrite {
      padding: unset;
      align-self: center;
    }

    .image {
      height: 50em;
      z-index: -1;

      picture {
        display: block;
        width: 64em;
        transform: translateY(-25%);
      }
    }
  }

  .cards_container {
    padding-top: 1.6em;
    padding-inline: 4em;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1em;
    row-gap: 5.6em;

    .popular {
      padding: 5.6rem 3.2rem;
    }

    .course {
      padding: 5.6em 3.2em 3.2em;

      &__cta {
        margin-top: 0;
      }
    }
  }

  .footer {
    padding: 3.6em 4em;
  }
}

@include desktop() {
  .header {
    padding-inline: 16.5em;

    .hero {
      padding-left: 0;

      .copywrite {
        gap: 2.9em;
        max-width: 46em;
        align-self: center;

        &__heading {
          font-size: 5.6em;
          line-height: 7.1rem;
        }

        &__subheading {
          font-size: 1.8em;
          line-height: 2.8rem;
        }

        &__cta {
          font-size: 1.8em;
          padding: 1.8rem 3.2rem;
        }
      }

      .image {
        height: 70em;

        picture {
          width: 100em;
        }
      }
    }
  }

  .cards_container {
    padding: 0 16.5em 14em;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 3em;

    .popular {
      font-size: 3.2em;
      padding: 6.4rem 3.2rem;
      border-radius: 1.5rem;
    }

    .course {
      padding: 6.4em 3.2em 4em;
      border-radius: 1.5em;
      gap: 2.4em;

      &__heading {
        font-size: 2.4em;
      }

      &__subheading {
        font-size: 1.8em;
        line-height: 2.8rem;
      }
    }
  }

  .footer {
    padding-inline: 16.5em;
  }
}
