---
import Layout from "../../layout/Layout.astro";
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

  :root {
    --turquoiseBlue: #66e2dc;
    --coral: #fa7453;
    --rajah: #ffb964;
    --seashell: #fcfaf9;
    --blackRussian: #191826;

    font-family: "IBM Plex Sans", sans-serif;
    color: var(--blackRussian);
  }
</style>

<Layout title="Equalizer" component>
  <header
    class="space-y-[6.4rem] bg-mobile bg-[left_5rem_top_-25rem] px-[2.4rem] pt-[4rem] pb-[16.6rem] md:relative md:space-y-[9.5rem] md:overflow-hidden md:bg-tablet md:bg-[top_55%_right_25%] md:px-[4rem] md:pt-[6.2rem]"
  >
    <img src="./equalizer/logo.svg" alt="Equalizer logo" />
    <div class="space-y-[2rem] md:max-w-[52rem] md:space-y-[2.8rem]">
      <h1
        class="text-[4em] font-bold leading-[4.8rem] -tracking-[.045rem] md:text-[6.4em] md:leading-[6.4rem] md:-tracking-[.073rem]"
      >
        We make your music sound extraordinary.
      </h1>
      <p
        class="text-[1.6em] leading-[2.6rem] md:text-[1.8em] md:leading-[2.8rem]"
      >
        A system audio equalizer specifically designed for Android and iOS.
        Freely tune the way your music sounds with a professional grade
        parametric EQ & volume mixer. Control bass, mids, treble, gain control,
        reverb, and more!
      </p>
    </div>
    <img
      src="./equalizer/bg-pattern-1.svg"
      class="hidden md:absolute md:-top-[25%] md:-right-[5%] md:block md:h-[40rem]"
      alt=""
    />
  </header>
  <main
    class="relative h-[60em] rounded-[1.2em] bg-blackRussian md:mx-[3.6rem]"
  >
    <img
      src="./equalizer/bg-pattern-2.svg"
      alt=""
      class="absolute top-0 left-1/2 -translate-x-[50%] md:-top-[5rem]"
    />
    <img
      src="./equalizer/illustration-app.png"
      alt=""
      class="absolute top-0 left-1/2 w-[20em] -translate-x-[50%] -translate-y-[25%] md:left-1/4 md:w-[27rem]"
    />
    <div
      class="absolute top-full grid -translate-y-[30%] gap-[1.2rem] rounded-[1.2em] bg-coral py-[4.8em] px-[3.6em] md:top-[15rem] md:right-[7.5rem] md:w-[40rem] md:translate-y-0"
    >
      <h2 class="text-[3.2em] font-bold leading-[4rem] text-seashell">
        Premium EQ
      </h2>
      <p class="text-[1.8em] leading-[2.8rem] text-seashell">
        Get expert-level control with a robust equalizer, volume mixer, and
        spatial audio. Take your listening experience to a whole new level and
        access all our incredible features!
      </p>
      <h3
        class="mt-[2.4rem] flex gap-[1.6rem] text-[6.5em] font-bold leading-[5.2rem] text-seashell"
      >
        $4<span
          class="self-center text-[2rem] leading-[3.2rem] -tracking-[.02rem]"
          >/ month</span
        >
      </h3>
      <button
        class="mt-[2em] flex items-center justify-center gap-[.8rem] rounded-[1.2rem] bg-blackRussian py-[1.5rem] text-[1.8em] font-bold leading-[3.2rem] -tracking-[.018rem] text-seashell"
      >
        <img
          src="./equalizer/icon-apple.svg"
          alt=""
          class="h-[2rem] w-[2rem]"
        />
        iOS Download
      </button>
      <button
        class="flex items-center justify-center gap-[.8rem] rounded-[1.2rem] bg-seashell py-[1.5rem] text-[1.8em] font-bold leading-[3.2rem] -tracking-[.018rem]"
      >
        <img
          src="./equalizer/icon-android.svg"
          alt=""
          class="h-[2rem] w-[2rem]"
        />
        Android Download
      </button>
    </div>
  </main>
  <footer
    class="mt-[39rem] space-y-[3.2rem] px-[2.4rem] py-[8rem] md:mt-[10rem] md:px-[3.6rem] md:py-[8.5rem]"
  >
    <img src="./equalizer/logo.svg" alt="" />
    <div class="grid gap-[3.2rem] md:grid-cols-2 md:items-center">
      <div class="text-[1.6em] leading-[2.6rem]">
        <p>All rights reserved © Equalizer 2021</p>
        <p>Have any problems? Contact us via social media or email us at</p>
        <b>equalizer@example.com</b>
      </div>
      <div class="flex gap-[2rem] justify-self-end">
        <img src="./equalizer/icon-facebook.svg" alt="" />
        <img src="./equalizer/icon-instagram.svg" alt="" />
        <img src="./equalizer/icon-twitter.svg" alt="" />
      </div>
    </div>
  </footer>
</Layout>
