---
import Layout from "../../layout/Layout.astro"
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

  :root {
    --turquoiseBlue: #66e2dc;
    --coral: #fa7453;
    --rajah: #ffb964;
    --seashell: #fcfaf9;
    --blackRussian: #191826;

    font-family: "IBM Plex Sans", sans-serif;
    color: var(--blackRussian);
  }
</style>

<Layout title="Equalizer" component>
  <header
    class="px-[2.4em] pt-[4em] bg-mobile bg-[left_5em_top_-25em] space-y-[6.4em]"
  >
    <img src="./equalizer/logo.svg" alt="Equalizer logo" />
    <div class="space-y-[2rem]">
      <h1 class="font-bold text-[4em] leading-[4.8rem] -tracking-[.045rem]">
        We make your music sound extraordinary.
      </h1>
      <p class="text-[1.6em] leading-[2.6rem]">
        A system audio equalizer specifically designed for Android and iOS.
        Freely tune the way your music sounds with a professional grade
        parametric EQ & volume mixer. Control bass, mids, treble, gain control,
        reverb, and more!
      </p>
    </div>
  </header>
  <main class="bg-blackRussian rounded-[1.2em] relative h-[60em] mt-[16.6em]">
    <img
      src="./equalizer/bg-pattern-2.svg"
      alt=""
      class="absolute top-0 left-1/2 -translate-x-[50%]"
    />
    <img
      src="./equalizer/illustration-app.png"
      alt=""
      class="w-[20em] absolute top-0 left-1/2 -translate-x-[50%] -translate-y-[25%]"
    />
    <div
      class="py-[4.8em] px-[3.6em] bg-coral rounded-[1.2em] absolute top-full -translate-y-[30%] grid gap-[1.2rem]"
    >
      <h2 class="text-seashell font-bold text-[3.2em] leading-[4rem]">
        Premium EQ
      </h2>
      <p class="text-[1.8em] leading-[2.8rem] text-seashell">
        Get expert-level control with a robust equalizer, volume mixer, and
        spatial audio. Take your listening experience to a whole new level and
        access all our incredible features!
      </p>
      <h3
        class="font-bold text-[6.5em] leading-[5.2rem] text-seashell mt-[2.4rem] flex gap-[1.6rem]"
      >
        $4<span
          class="text-[2rem] leading-[3.2rem] -tracking-[.02rem] self-center"
          >/ month</span
        >
      </h3>
      <button
        class="mt-[2em] font-bold text-[1.8em] leading-[3.2rem] -tracking-[.018rem] py-[1.5rem] flex gap-[.8rem] justify-center items-center text-seashell bg-blackRussian rounded-[1.2rem]"
      >
        <img
          src="./equalizer/icon-apple.svg"
          alt=""
          class="w-[2rem] h-[2rem]"
        />
        iOS Download
      </button>
      <button
        class="font-bold text-[1.8em] leading-[3.2rem] -tracking-[.018rem] py-[1.5rem] flex gap-[.8rem] justify-center items-center bg-seashell rounded-[1.2rem]"
      >
        <img
          src="./equalizer/icon-android.svg"
          alt=""
          class="w-[2rem] h-[2rem]"
        />
        Android Download
      </button>
    </div>
  </main>
  <footer class="mt-[39em] px-[2.4em] py-[8em] space-y-[3.2rem]">
    <img src="./equalizer/logo.svg" alt="" />
    <div class="text-[1.6em] leading-[2.6rem]">
      <p>All rights reserved © Equalizer 2021</p>
      <p>Have any problems? Contact us via social media or email us at</p>
      <b>equalizer@example.com</b>
    </div>
    <div class="mt-[3.2rem] flex gap-[2rem]">
      <img src="./equalizer/icon-facebook.svg" alt="" />
      <img src="./equalizer/icon-instagram.svg" alt="" />
      <img src="./equalizer/icon-twitter.svg" alt="" />
    </div>
  </footer>
</Layout>
