---
import { Image } from "@astrojs/image/components";
import Author from "../../components/Author.astro";
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";
import cart from "/public/product-preview-card/icon-cart.svg";

const projectTitle = "Product Preview Card";
---

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

  :root {
    /* Primary */

    --darkCyan: hsl(158, 36%, 37%);
    --darkCyanActive: hsl(157, 43%, 18%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral */
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkgrayishblue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --baseFont: "Montserrat", sans-serif;

    background-color: var(--cream);
  }

  main {
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    place-items: center;
    padding-inline: 1.6rem;
  }

  .card {
    background-color: var(--white);
    border-radius: 1rem;
    max-width: 34.3rem;
    max-height: 61.1rem;
    overflow: hidden;

    &__content {
      padding: 2.4rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }

    &__category {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.46rem;
      letter-spacing: 0.5rem;
      color: var(--darkgrayishblue);
    }

    &__heading {
      font-family: "Fraunces", serif;
      font-weight: 700;
      font-size: 3.2em;
      line-height: 3.2rem;
      color: var(--veryDarkBlue);
    }

    &__subheading {
      margin-top: 0.4rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2.3rem;
      color: var(--darkgrayishblue);
    }

    &__prices {
      margin-top: 1.2rem;
      display: flex;
      gap: 1.9rem;
      align-items: center;
    }

    &__current_price {
      font-family: "Fraunces", serif;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 3.2rem;
      color: var(--darkCyan);
    }

    &__previous_price {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 2.3rem;
      color: var(--darkgrayishblue);
    }

    &__button {
      margin-top: 0.8rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: var(--white);

      background-color: var(--darkCyan);
      border-radius: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.2rem;
      padding: 1.5rem;

      &:active {
        background-color: var(--darkCyanActive);
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .card {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      max-width: 60rem;
      max-height: 45rem;

      &__image {
        height: 100%;
      }

      &__content {
        padding: 3.2rem;
        gap: 2rem;
      }

      &__subheading {
        margin-top: 0.4rem;
      }

      &__prices {
        margin-top: 0.9rem;
      }

      &__button {
        margin-top: 1rem;
      }
    }
  }
</style>

<Layout title={projectTitle} component>
  <main>
    <Heading title={projectTitle} />
    <div class="card">
      <picture>
        <source
          srcset="/product-preview-card/image-product-desktop.jpg"
          media="(min-width: 1024px)"
        />
        <img
          src="/product-preview-card/image-product-mobile.jpg"
          alt="Gabrielle Essence Eau De Parfum Image"
          class="card__image"
        />
      </picture>
      <div class="card__content">
        <h2 class="card__category">PERFUME</h2>
        <h1 class="card__heading">Gabrielle Essence Eau De Parfum</h1>
        <p class="card__subheading">
          A floral, solar and voluptuous interpretation composed by Olivier
          Polge, Perfumer-Creator for the House of CHANEL.
        </p>
        <div class="card__prices">
          <strong class="card__current_price">$149.99</strong>
          <span class="card__previous_price">$169.99</span>
        </div>
        <button class="card__button">
          <Image alt="" src={cart} width={16} height={16} loading={null} />
          Add to Cart
        </button>
      </div>
    </div>
  </main>
  <Author />
</Layout>
