---
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";
import "./style.css";

const projectTitle = "Stats Preview Card";

type Stat = {
  numeric: string;
  description: string;
};

const stats: Stat[] = [
  {
    numeric: "10k+",
    description: "companies",
  },
  {
    numeric: "314",
    description: "templates",
  },
  {
    numeric: "12M+",
    description: "queries",
  },
];
---

<Layout title={projectTitle} component>
  <main>
    <Heading title={projectTitle} />
    <div class="card">
      <picture class="card__header">
        <source
          srcset="./stats-preview-card/image-header-desktop.jpg"
          media="(min-width: 1440px)"
        />
        <img src="../stats-preview-card/image-header-mobile.jpg" alt="" />
      </picture>
      <div class="card__content">
        <h1 class="card__heading">
          Get <span class="card__emphasize">insights</span> that help your business
          grow.
        </h1>
        <p class="card__subheading">
          Discover the benefits of data analytics and make better decisions
          regarding revenue, customer experience, and overall efficiency.
        </p>
        <div class="card__container">
          {
            stats.map(({ numeric, description }) => (
              <div class="card__stat">
                <span class="card__numeric">{numeric}</span>
                <span class="card__description">{description}</span>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</Layout>
