---
import { Image } from "@astrojs/image/components";
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";
import qrCode from "/public/qr-code/image-qr-code.png";
import './style.css'

const projectTitle = "QR Code";
---

<Layout title={projectTitle} component>
  <main>
    <Heading title={projectTitle} />
    <div class="card">
      <Image
      class="card__image"
      loading={null}
      alt="QR Code Image"
        src={qrCode}
      />
      <h2 class="card__heading">
        Improve your front-end skills by building projects
      </h2>
      <p class="card__subheading">
        Scan the QR code to visit Frontend Mentor and take your coding skills to
        the next level
      </p>
    </div>
  </main>
</Layout>
