@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  /* Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */
  --veryDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  font-family: "Poppins", sans-serif;
  color: var(--veryDarkBlue);
}

main {
  min-height: 100vh;
  min-height: 100svh;
  max-width: 111rem;
  margin-inline: auto;

  padding: 10.8rem 3.2rem 7.8rem;
  display: flex;
  flex-direction: column;
  row-gap: 7.6rem;
  align-items: center;
}

.copywrite {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  text-align: center;
  max-width: 36rem;

  &__heading {
    font-weight: 200;
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: 0.02rem;
  }

  &__strong {
    font-weight: 600;
  }

  &__subheading {
    opacity: 0.5;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.01rem;
  }
}

.cards {
  display: grid;
  row-gap: 2.5rem;
}

.card {
  box-shadow: 0 1.5rem 3rem -1.1rem rgba(131, 166, 210, 0.5);
  border-radius: 0.8rem;
  padding: 2.8rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  max-width: 35rem;

  &:nth-child(1) {
    --cardColor: var(--cyan);
  }
  &:nth-child(2) {
    --cardColor: var(--red);
  }
  &:nth-child(3) {
    --cardColor: var(--orange);
  }
  &:nth-child(4) {
    --cardColor: var(--blue);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0.36rem;
    width: 100%;
    background-color: var(--cardColor);
  }

  &__heading {
    margin-top: 0.1rem;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
  }

  &__subheading {
    opacity: 0.5;
    font-size: 1.3rem;
    line-height: 2.3rem;
    letter-spacing: 0.01rem;
  }

  &__image {
    margin-top: 3.3rem;
    width: 5.7rem;
    height: 5.7rem;
    align-self: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  main {
    padding-block: 8rem;
    row-gap: 6.4rem;
  }

  .copywrite {
    &__heading {
      font-weight: 200;
      font-size: 3.6rem;
      line-height: 5.4rem;
      letter-spacing: 0.03rem;
    }
  }

  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 3rem;
    align-items: center;
  }

  .card {
    padding: 3.2rem;

    &__heading {
      margin-top: 0.6rem;
    }

    &__image {
      margin-top: 4rem;
      width: 6.4rem;
      height: 6.4rem;
    }

    &:first-child {
      grid-row: span 2 / span 2;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:last-child {
      grid-row: span 2 / span 2;
    }
  }
}
