---
import Layout from "../../layout/Layout.astro"
import Footer from "../../components/Footer.astro";
import Heading from "../../components/Heading.astro";

const projectTitle = 'FAQ Accordion Card'
---

<Layout title={projectTitle}>
    <Heading title={projectTitle} />
    <main>
        <details>
            <summary>qwe</summary>
            asd
        </details>
    </main>
    <Footer />
</Layout> 