---
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";

const projectTitle = 'Profile Card'
---

<Layout title={projectTitle} component>
  <main>
    <Heading title={projectTitle} />
  </main>
</Layout>