@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

:root {
  --bostonBlue: #4d96a9;
  --deluge: #855fb1;
  --valhalla: #28283d;
  --manatee: #87879d;
  --columbiaBlue: #8fe3f9;
  --mauve: #d9b8ff;
  --snow: #fafafa;

  font-family: "Red Hat Display", sans-serif;
}
