---
type Props = {
  color?: string;
  font?: string;
  dark?: boolean;
};

const { color = "blue", font = "Arial", dark = false } = Astro.props;
let baseColor = dark ? "white" : "black";
---

<style lang="scss" define:vars={{ color, font, baseColor }}>
  footer {
    display: none;
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 1.5em;
    text-align: end;
    font-family: var(--font);
    color: var(--baseColor);
  }

  a {
    color: var(--color);
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.1em;

    &:hover {
      opacity: 75%;
    }
  }

  @media screen and (min-width: 1024px) {
    footer {
      display: block;
    }
  }
</style>

<footer>
  <div>
    Challenge by <a href="https://www.frontendmentor.io/" target="_blank"
      >Frontend Mentor</a
    >
  </div>
  <div>
    Coded by <a href="https://github.com/clakr/" target="_blank">Clark Tolosa</a
    >
  </div>
</footer>
