---
import Footer from "../../components/Footer.astro";
import Heading from "../../components/Heading.astro";
import Layout from "../../layout/Layout.astro";

const projectTitle = "Huddle Landing Page";
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

  :root {
    --violet: hsl(257, 40%, 49%);
    --softMagenta: hsl(300, 69%, 71%);

    /* 
    
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

    */

    --baseFont: "Open Sans", sans-serif;

    font-family: var(--baseFont);
  }
</style>

<Layout title={projectTitle}>
  <main>
    <Heading title={projectTitle} />
  </main>
  <Footer font="var(--baseFont)" />
</Layout>
